p.normal {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}
h1 {
  font-size: 40px;
}
span { font-weight: bold; }
div {
  display: inline-block;
  width: 40%
  border: 1px solid black;
  margin: 10px;
  padding:10px;
}
@media (max-width: 400px) {
  body {
    background-color:orange;
  }
}

div {
  display: block;
  Width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
}
