h1 {
  font-size: 40px;
}

h1 {
 background-color: green;
  color: #ff6600;
}
h3 {
  color: #ff6600;
}
span { font-weight: bold; }
div {
  background-color: lightblue;
  display: inline-block;
  width: 40%
  border: 1px solid black;
  margin: 10px;
  padding:10px;
}
@media (max-width: 400px) {
  body {
    background-color:yellow;
  }
}

div {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
}
body {
    background-color: #cccccc;
}
p {
  background-color: yellow; 
}
